[Unit]
Description=Proxy reMarkable Web UI on Tailscale
After=network-online.target tailscaled.service remarkable-webui-patch.service sys-subsystem-net-devices-usb0.device
Requires=tailscaled.service remarkable-webui-patch.service

[Service]
Type=simple
# Force assign the IP to usb0, to appear connected.
ExecStartPre=/bin/sh -c "/sbin/ip addr change 10.11.99.1/32 dev usb0"
ExecStart=/bin/sh -c "exec /usr/local/bin/socat TCP-LISTEN:80,bind=$(/sbin/ip -4 addr show dev tailscale0 | grep -o '[0-9]*\.[0-9\.]*'),fork,reuseaddr TCP:10.11.99.1:80"
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
